*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{

    height: 80vh;
}
.dregg{
    font-family: cursive;
    text-align: right;
    margin-top: 100px;
}
.inputdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: inset 2px 2px 2px 2px  black !important;

}
.input{
    height: 50px;
    text-align: right;
    font-size: 40px;
}
.input1{
    height: 50px;
    text-align: right;
    font-size: 40px;
}
.big{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    
}
.div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 10px;
}
.div1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 20px;
}
.ac{
    width: 70%;
    border-radius: 50%;
    font-size: 30px;
    border: none;
}
.btn7{
    width: 70%;
    border-radius: 50%;
    font-size: 30px;
    border: none;
}
.btn4{
    width: 70%;
    border-radius: 50%;
    font-size: 30px;
    border: none;
}
.btn1{
    width: 70%;
    border-radius: 50%;
    font-size: 30px;
    border: none;
}
.btnp{
    width: 70%;
    border-radius: 50%;
    font-size: 30px;
    border: none;
}
.equal{
    height: 15vh;
    width: 70%;
    border-radius: 30px;
    margin-top: 10px;
    color: black;
    background-color: rgb(255, 238, 0);
    margin-left: 2px;
    font-size: 50px;
}